# Restart goliath server
files:
 "/opt/elasticbeanstalk/hooks/appdeploy/enact/03_restart_goliath_server.sh":
  mode: "000755"
  content: |
   #!/usr/bin/env bash
   . /opt/elasticbeanstalk/containerfiles/envvars

   PIDFILE=$EB_CONFIG_APP_PIDS/goliath.pid

    if [ -f $PIDFILE ]
    
    then
        GOLIATH_LIVES=$(ps -o pid= -p `cat $PIDFILE`)
          if [ -z $GOLIATH_LIVES ]
          then
             rm -rf $PIDFILE
          else
             kill -TERM `cat $PIDFILE`
             sleep 5
             rm -rf $PIDFILE
          fi
    fi
   cd $EB_CONFIG_APP_CURRENT
   ruby server.rb -sv -e production -l $EB_CONFIG_APP_LOGS/production.log -d -P $EB_CONFIG_APP_PIDS/goliath.pid
